<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.onlineedu.mapper.EnrecordMapper">
    <select id="getAllEnercord" resultType="com.edu.onlineedu.pojo.Enrecord" parameterType="map">
        select * from enercord
        <where>
            <if test="enercordId != null">
                and enercord_id = #{enercordId}
            </if>
            <if test="enercordName != null">
                and enercord_Name = #{enercordName}
            </if>
        </where>
    </select>
</mapper>